<a href="https://colab.research.google.com/github/hamusita/master_research/blob/main/simulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sys
sys.path.append('/content/drive/My Drive/research4jaist')

# research memo

### simulation 1
note p1

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/My Drive/research4jaist/WiFi_data_csv/hefeinan_190707_channel1_0000.csv", low_memory=False)

In [ ]:
df.head(10)

   frame.number _ws.col.Time  ... Unnamed: 14 Unnamed: 15
0             1     09:34:42  ...         NaN         NaN
1             2     09:34:42  ...         NaN         NaN
2             3     09:34:42  ...         NaN         NaN
3             4     09:34:42  ...         NaN         NaN
4             5     09:34:42  ...         NaN         NaN
5             6     09:34:42  ...         NaN         NaN
6             7     09:34:42  ...         NaN         NaN
7             8     09:34:42  ...         NaN         NaN
8             9     09:34:43  ...         NaN         NaN
9            10     09:34:43  ...         NaN         NaN

[10 rows x 16 columns]